{% extends "analyzer/base.html" %}
{% block title %}Text Analysis - Sentiment Analyzer{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Welcome to Sentiment Analyzer</h1>
        <p>Analyze individual texts or upload datasets to get sentiment insights.</p>
        <div class="mb-4">
            <a href="{% url 'analyzer:dataset_analysis' %}" class="btn btn-secondary">Analyze Dataset</a>
        </div>
        <hr>
    </div>
</div>
{% endblock %}